.project {
  padding: 90px 0;
}
.project-title h4 {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  color: #ff9301;
}
.project-title p {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.projects-list {
  display: flex;
  justify-content: space-evenly;
  color: #e5e5e5;
}
.project-item-1,
.project-item-2 {
  border: 1px solid #e5e5e5;
  padding: 30px 15px;
  border-radius: 10px;
  width: 100%;
  position: relative;
  margin-top: 30px;
  padding: 25px;
  text-align: center;
  flex-basis: 35%;
}
.projects-list i {
  background-color: #ff9301;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 26px;
  line-height: 60px;
  color: black;
}
.projects-list h4 {
  font-size: 23px;
  line-height: 1.4;
  font-weight: bold;
}
.projects-list p {
  text-align: justify;
  line-height: 1.5;
  font-size: 17px;
}
.view-btn {
  background-color: #ff9301;
  padding: 10px;
  color: black;
  font-weight: bold;
  width: 30%;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.view-btn:hover{
  box-shadow: 0 0 10px #e5e5e5;
  transform: scale(1.1);
}
